<header>
    <div class="header-top">
        <h1>Catálogo Natural</h1>
    </div>
    <a class="btn btn-warning" href="/">Volver al catalogo</a>
</header>
<main>
    <section>
        <h1>Inicio de Sesión</h1>

        <form action="/login" method="POST">

            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" name="email" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" name="password" class="form-control" required>
            </div>

            <button class="btn btn-success">Iniciar Sesión</button>
        </form>
    </section>
</main>